{% extends 'layout.html' %}

{% block head %}
  <title>{{ squadra.nome }} - Sports no Sekai</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/ico/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/ico/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/ico/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='assets/ico/site.webmanifest') }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% include 'frame_navigation_torneo.html' %}

{% block content %}
  {% if not squadra %}
    <div class="alert alert-danger text-center">
      Squadra non trovata.
    </div>
    
  {% endif %}


  <div class="hero text-center py-5 bg-light mt-custom">
    <div class="container">
      <img src="{{ url_for('static', filename='images/' ~ squadra.logo) }}" alt="Logo {{ squadra.nome }}" class="img-fluid mb-4" style="max-height: 400px;">
      <h1 class="display-4">{{ squadra.nome }}</h1>
    </div>
  </div>

  <div class="site-section bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-12 title-section">
          <h2 class="heading">Giocatori</h2>
        </div>
        <div class="col-12">
          {% if giocatori and giocatori|length > 0 %}
            <table class="table custom-table">
              <thead>
                <tr>
                  <th scope="col"><h4>Nome</h4></th>
                  <th scope="col"><h4>Cognome</h4></th>
                  <th scope="col"><h4>Data di Nascita</h4></th>
                  <th scope="col"><h4>Numero di Maglia</h4></th>
                </tr>
              </thead>
              <tbody>
                {% for g in giocatori %}
                  <tr>
                    <td>{{ g.nome }}</td>
                    <td>{{ g.cognome }}</td>
                    <td>{{ g.data_di_nascita|date_it }}</td>
                    <td>{{ g.numero_di_maglia }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="alert alert-info text-center">
              Al momento non ci sono giocatori nella squadra selezionata.
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include 'foot.html'%}
{% endblock %}



{% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mb.YTPlayer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}