<section class="page-section bg-dark" id="team">
 <div class="container">
 <div class="row">
 </div>
 
 </div>

 </section>
 
 
 
   <footer class="footer-section bg-dark ">
      <div class="container">
    
    		<br>
    		
			<ul class="list-unstyled d-flex justify-content-center align-items-start" style="gap: 230px;">
  				<li>
    				<strong class="text-white d-block">Indirizzo</strong>
   					 Via Graziella - Feo di Vito <br>89124 Reggio Calabria RC
  				</li>
  				<li>
    				<strong class="text-white d-block">Email</strong>
   					 <a href="#">email@gmail.com</a>
  				</li>
  				<li>
   					<strong class="text-white d-block">Telefono</strong>
    				<a href="#">+12 345 6789 012</a>
  				</li>
			</ul>
			
 </div>
    </footer>

	

		<footer class="footer-section">
      <div class="container">
    

        <div class="row text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p>
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> Sports no Sekai - Tutti i diritti riservati
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
