  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="{{ url_for('index.home') }}">
              <img src="{{ url_for('static', filename='images/Sports no Sekai logo no sfondo.png') }}" alt="Logo">
            </a>
          </div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{{ url_for('index.home')}}" class="nav-link">Home</a></li>
                <li><a href="{{ url_for('chisiamo.home')}}" class="nav-link">Chi siamo</a></li>
                <li><a href="{{ url_for('contatti.home')}}" class="nav-link">Contattaci</a></li>
                <li><a href="{{ url_for('richiedilogin.home')}}" class="btn btn-primary py-3 px-4 mr-3">Login</a></li>
                
              </ul>
            </nav>

            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                class="icon-menu h3 text-white"></span></a>
          </div>
        </div>
      </div>

    </header>

</div>